<!DOCTYPE html>
<html>
  <head>
    <title>HTML</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename ='style.css')}}"
    />
  </head>
  <body>
    <div class="search-form">
      <div class="logo">Logo</div>
      <div class="search-field">
        <h1 class="search-prompt">Search For a Show:</h1>
        <input class="user-input" type="text" />
      </div>
      <div class="footer">
        Powered by
        <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
          >w3.css</a
        >
      </div>
    </div>
  </body>
</html>
